
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
}


body {
    display:flex;
    justify-content: center;
    max-width: 100%;
    width:100%;
    margin: 0px;
    gap: 35px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Raleway', sans-serif;

}
ul {
    display: flex;
     list-style: none;
    padding: 15px;
}

nav{
    display: flex;/*mise en page du menu en haut*/
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav a{
    padding:15px;
    text-decoration:none;
    border-top:10px #0065FC;
    }
nav a:hover{
    border-top:3px solid #0065FC ;
    color: #0065FC;

}
.logo{
    margin-right: auto;/*Prendre tout la place posible qui reste sur la page*/
    gap:10px;
    padding-top: 30px;
    margin-right:auto;
    padding-bottom: 30px;
    width:61px;
    height:auto;

}
.sous-barre-navigation{
    display: flex;
    left: 1096px;
    gap: 68px;

}

.slogan{
    width:100%;
    gap: 8px;



}

h1 {
    font-size: 22px;
}
/* bare de recherche*/
.barre-de-recherche {
    display:flex;
    padding-bottom: 15px;



}
i.fa-solid.fa-location-dot {
    width: 50px;
    border-width: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color:black;
    background-color: #F2F2F2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;




}
input[type="text"] {
    font-weight: bold;
}
.btn-recherche{
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 1px;
    background: #0065FC;
    border:1px solid #0065FC;
    color: white;
    font-weight: bold;
}

.barre-de-recherchetel{
    display:none;
}
.fa-money-bill{
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    border-radius: 25px;
    border-width: 2px;

}

.fa-solid.fa-person{
    padding: 1px;
    top: 41px;
    left: 182px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    border-radius: 25px;
    border-width: 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

}
.fa-solid.fa-heart{
    top: 41px;
    left: 328px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    border-radius: 25px;
    border-width: 2px;

}
.fa-solid.fa-fire{
    top: 41px;
    left: 507px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    border-radius: 25px;
    border-width: 2px;

}

b {
    display: flex;
    align-items: center;
}
.filtres{
       margin-top: 12px;
       padding-bottom: 15px;
       display: flex;

}
.filtres button{
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-left: 19px;
    border-radius: 25px;
    border-width: 2px;
    height: 50px;
    background-color: white;
    font-weight: bold;
    margin-left:12px;
    border:2px solid #D9D9D9;
    min-width:150px;
    max-width:250px;




}
.filtres button:hover{
    background: #DEEBFF;

}
.information {
   
    display:inline-block;
    display: flex;
    font-weight: initial;
}
.fa-solid.fa-circle-info {
    padding: 18px;
    border-width: 1px;

}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
h4 {
    font-size: 22px;

}
.hebergements h4{
margin-top: 0px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height:100%;
}

.carte-hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    row-gap:20px;
    transition: transform 0.3s ease-in-out;
    align-items: stretch;
}

.carte-hebergements >a{
    width:calc(33% - 10px);

}

 
.card img {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}
.card:hover{
   transform: scale(1.05); 
} 
.card-title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}

/****** Hebergements ***********/
.hebergements {
    width:65%;
}
.hebergements-a {
    display: inline-block;
    margin-top: 30px;
    font-weight: bold;
}





/*

***** Populaires ***********/

.section  {
    box-sizing: content-box;
}
.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}
.populaires-cards >a{
    margin-top:20px;
    display:block;
}

.populaires-cards .card {
    display: flex;
    transition: transform 0.3s ease-in-out;
    top: 5px;
    left: 123px;
    padding-right: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 3px 15px 0px #0000001A;



}
.populaires-cards .card:hover{
   transform: scale(1.05); 
} 

.populaires-cards img {
    border-radius: 20px 0px 0px 20px;
    width: 35%;
}

.populaires-cardscard-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0px;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
    padding:10px;
}

.activites {
    padding: 0px;
    border-radius: 20px;
    margin-top: 50px;
}
.activites-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activites .card {
    width: 23%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 15px 0px #0000001A;
    padding: 0px;
    transition: transform 0.3s;
    height:auto;
    
}
.activites .card:hover {
    transform: scale(1.05);
}
.activites .card-title {
    padding: 10px;
    font-size: 16px;
    font-weight:700;
    padding:10px;

}
.activites img{
   width: 100%;
   height: 381px;
}


footer{
    background: #F2F2F2;
    height:163px;

}
.footer-container{
    height: 163px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
}

.footer-column {
    width: 33%;
    
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.footer-column ul {
    font-family: Raleway;
font-weight: 400;
font-size: 16px;
line-height: 100%;
flex-direction: column;

}

.footer-column ul li {
    margin-bottom: 8px;

}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    flex-direction: column;
}

.footer-column ul li a:hover {
    font-weight: bold;
}




/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .filtres{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top:20px;
        gap:0px;
        display:block;

    }

    .filtres b{

            padding-bottom: 20px;
            width:100%;
            margin-left:auto;
        }

    .filtres button{
        padding-left:5px;
        height:50px;
        padding-right:8px;
        min-width: 150px;
        margin-right: auto;
        margin-left:initial;
    }

    .information{
        justify-content: flex-start;

    }








    .hebergements-and-populaires {
        flex-direction: column;
        display: flex;
        padding:0px;
    }

    .hebergements {
        width: 100%;

    }

    .carte-hebergement{
        display: flex;
        justify-content: space-around;

    }

   .populaires {
        width: 100%;
        margin-top: 50px;
    }


    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-container{
        gap:0px;

    }


   .activites .card img{
    border-radius: 0px 0px 0px 0px ;
   }



    .activites img{
        width:100%;
        height: 180px;
    }

    .footer-container{
        padding:0px;
        margin-left:12px;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width:768px) {


    .main-container{
        padding-left:0px;
        padding-right:0px;
    }

    body {
    padding-left:0px;
    padding-right:0px;
    }

    


    

    .logo{ 
        width: 120px;
        margin: 0 auto;
        display: block;

    }

    .sous-barre-navigation{
        width:100%;
    }

    .sous-barre-navigation ul{
        width:100%;
        text-align: center;
    }

    .sous-barre-navigation li{
        width: 50%;
        display: contents;
    }





    ul {
    padding: 0px;

    }

    nav a{
        width:100%;
         text-align: center;
    padding: 15px 0;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: relative;
    border-bottom: 1px solid #D9D9D9;
    
    }

    .nav a:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    }

    .nav a:hover {
    border-bottom: 2px solid #0065FC;
    }

    .slogan {
    padding:30px;
    }

    
    

    .btn-recherchetel {
    font-weight: bold;
    background-color: #0065FC;
    border: none;
    padding: 12px 16px;
    border-radius: 15px;
    
    }

    .btn-recherchetel i {
        font-size: 18px;
    }


    .barre-de-recherche{
        display: none;
        padding-left:0px;
    }


    .barre-de-recherchetel{
        display: flex;
        padding-left:30px;
        padding: 0 16px;
    }

    .barre-de-recherchetel input[type="text"] {
        display: flex;
        border-radius: 15px 0 0 15px;
        padding: 12px;
        font-size: 16px;
        width:100%;
    }

    .fa-solid.fa-magnifying-glass{
        font-size: 16px;
        color: white;


    }
    

    .filtres {
        padding:30px;
        margin-top: 12px;
           padding-bottom: 15px;
           display: flex;
        }

    .filtres button{
        margin-bottom:20px;
        width:calc(50% - 20px);
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .filtres button.active {
        background-color: #DEEBFF;
        border-color: #0065FC;
    }


        .carte-hebergements{
            flex-direction: column;
        }

        .section.hebergements {
            background: white;
            border-radius:0px 0px 0px 0px;
        }

    .hebergements-and-populaires section {
            width:100%;
            margin-top:auto ;
            border-radius:0px 0px 0px 0px;
        
    }
        */****** General ***********/


    
    nav a{
        padding:15px;
        text-decoration:none;
        border-top:10px #0065FC;
    }
    nav a:hover{
        border-top:none;
        border-bottom:3px solid #0065FC ;
        color: #0065FC;

    }
    .logo{
        
        width:79px;
        height:auto;

    }
    

    
    /* bare de recherche*/
    .barre-de-recherche {
        display:flex;
        padding-bottom: 15px;



    }
    




    
    .btn-recherche{
        padding-top: 15px;
        padding-right: 16px;
        padding-bottom: 15px;
        padding-left: 16px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-width: 1px;
        background: #0065FC;
        border:1px solid #0065FC;
        color: white;
        font-weight: bold;
    }


    .barre-de-recherche{
        display: none;
    }

    
    .information {
    
        display: flex;
        padding:30px;
    }
    .fa-solid.fa-circle-info {
        align-content: center;
        padding: 18px;
        border-width: 1px;

    }
    
    a {
        color: inherit;
        text-decoration: none;
     }

    h4 {
        font-size: 22px;

    }
    


    .card img{
        height:200px;
    }

    .card:hover{
       transform: scale(1.05); 
    } 
    
    .neutral-star {
        color: var(--main-bg-color)
    }

    /****** Hebergements And Populaires ***********/
    



    

    .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;
    }

    /****** Hebergements ***********/
    
    section.hebergements{
    box-sizing: content-box;
    background-color:white;
}

    .carte-hebergements >a{
        width:calc(100% - 50px );
    }
    

    /****** Populaires ***********/
    .populaires {
        width: 32%;
    }
    
    .populaires-cards .card {
        display: flex;
        transition: transform 0.3s ease-in-out;
        top: 5px;
        left: 123px;
        padding-right: 5px;
        padding-bottom: 5px;
        box-shadow: 0px 3px 15px 0px #0000001A;
        width:650px;
        height:146px;




    }

    .populaires-cards{
        flex-direction: column;
    }


    .populaires-cards .card:hover{
       transform: scale(1.05); 
    } 

    .populaires-cards img{
        height: auto;
    }


    .populaires-cardscard-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;

    }
    .populaires-cards .card-subtitle {
        margin: 0px;
    }

    h4.section-title-activites {
    padding-left: 30PX;
}

    .activites-container {
        gap: 20px;
        padding:30px;

    }
    .activites .card {
        width:100%;
        overflow: hidden;
    }
    .activites .card:hover {
        transform: scale(1.05);
    }
    .activites .card-title {
        padding-left:30px;

    }
    .activites img{
       width: 100%;
       height:200px;
    }


    footer{
        height:auto;

    }

    .footer-column h3{
        padding-left:30px;
        padding-top:20px;
    }

    .footer-column ul{
        margin-left:45px;
    }
    .footer-container{
        padding: 20px;
        height:200px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 50px;
        display: contents;
    }

}





    


    
    

    













