****** General ***********/
*/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--main-color);
   background-color red;
}
body {
    border: 1px green;
    display: flex;
    justify-content: center;
    width: 1440;
    gap: 35px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Raleway', sans-serif;

}
ul {
    display: flex;
     list-style: none;
    padding: 15px;
}

nav{
    display: flex;/*mise en page du menu en haut*/
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav a{
    padding:15px;
    text-decoration:none;
    border-top:10px var(bleu);
    }
nav a:hover{
    border-top:3px solid blue;

}
.logo{
    margin-right: auto;/*Prendre tout la place posible qui reste sur la page*/
    gap: 10px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    width:61px;
    height:auto;

}
.sous-barre-navigation{
    display: flex;
    left: 1096px;
    gap: 68px;

}

.slogan{
    width: 1340;
    height: 53;
    gap: 8px;



}
/* bare de recherche*/
.barre-de-recherche {
    display:flex;
    padding:12px;



}
i.fa-solid.fa-location-dot {
    width: 25px;
    height: 30px;
    border-width: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color:black;
    background-color: #F2F2F2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;




}
input[type="text"] {
    width: 147;
    height: 21;


    font-weight: bold;
}
.btn-recherche{
    width: 132;
    height: 49;
    gap: 10px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 1px;
    background: #0065FC;
    border:#0065FC;
    color: white;
}
.fa-money-bill{
    gap: 10px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-left: 19px;
    border-radius: 25px;
    border-width: 2px;

}
.fa-solid fa-person{
    color:#0065FC ;
    padding: 1px;
}
.fa-solid.fa-person{
    padding: 1px;
    top: 41px;
    left: 182px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-left: 19px;
    border-radius: 25px;
    border-width: 2px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

}
.fa-solid.fa-heart{
    width: 164;
    height: 50;
    top: 41px;
    left: 328px;
    gap: 10px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-left: 19px;
    border-radius: 25px;
    border-width: 2px;

}
.fa-solid.fa-fire{
    width: 161;
    height: 50;
    top: 41px;
    left: 507px;
    gap: 10px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-left: 19px;
    border-radius: 25px;
    border-width: 2px;

}
.filtres{
       margin-top: 12px;

}
.filtres button{
    gap: 10px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-left: 19px;
    border-radius: 25px;
    border-width: 2px;
    border: 2px solid #D9D9D9
}
.filtres button:hover{
    background: #DEEBFF;

}
.information {
   
    display:inline-block;
    display: flex;
    font-weight: initial;
}
.fa-solid.fa-circle-info {
    color:/*#CB1313;*/
    align-content: center;
    padding: 18px;
    width: 24;
    height: 24;
    border-width: 1px;

}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
h4 {
    font-size: 22px;

}
.hebergements h4{
margin-top: 0px;
}
hebergements-a{

}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.carte-hebergements .card {
    width: 200px;
    height: 64.25;
    gap: 8px;

}
.carte-hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    transition: transform 0.3s ease-in-out;}

 
.card img {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}
.card:hover{
   transform: scale(1.05); 
} 
.card-title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color)
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 1340;
    height: 614;
    gap: 40px;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
a.hebergements-a {
    display: inline-block;
    margin-top: 30px;
    font-weight: bold;
} 



/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}
.populaires-cards .card {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 246;
    height: 136;
    top: 5px;
    left: 123px;
    gap: 24px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    margin-top: 33px;



}
.populaires-cards .card:hover{
   transform: scale(1.05); 
} 

.populaires-cards img {
    border-radius: 20px 0px 0px 20px;
    width: 35%;
}

.populaires-cardscard-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
}

.activites {
    padding: 0px;
    border-radius: 20px;
}
.activites-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activites .card {
    width: 23%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 15px 0px #0000001A;
    padding: 0px;
    transition: transform 0.3s ease-in-out;
}
.activites .card:hover {
    transform: scale(1.05);
}
.activites .card-title {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;

}
.activites img{
   height: 380px;
}

footer{
    width: 1340;
    height: 163;
    background: #F2F2F2;

}
.footer-container{
    width: 446.6666564941406;
    height: 163;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    width: 33%;
    height: 163;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.footer-column ul {
    font-family: Raleway;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
flex-direction: column;

}

.footer-column ul li {
    margin-bottom: 8px;

}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    flex-direction: column;
}

.footer-column ul li a:hover {
    text-decoration: bold;
}



/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;

    }
    .populaires {
        width: 100%;
        margin-top: 50px;
        width: 924;

    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
    .carte-hebergements{
        gap: 5px;
    }
    .populaires-cards .card{
        gap: 5px;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    

}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
.sous-barre-navigation {
    /*border: 10px solid black;*/
    order: 1px;
    flex-basis: 100%;
 ;
}
.sous-barre-navigation a{
    flex-basis:50% ;
    text-align: center;
}
nav a:hover{
    border-bottom:3px solid blue;
    border-top: none;
}

.activites .card {
        width: 100%;
}


