<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
</style>

body {
    font-family: "Raleway", Arial, sans-serif;
    margin: 25px;
}

a {
    color: inherit;
    text-decoration:nome;
}

nav {
    border: 1px solid red;/*bordure rouge*/
	display: flex;/*mise en page du menu en haut*/ 
    justify-content:flex-end;
    align-items: center;/*mise en page du menu de la mêmes hauteur*/
    flex-wrap:wrap ;/* Quand je retrecis la ligne de menu passe en dessous*/
    color: #black;
    padding: 1rem;

}

nav a{
padding:15px;
text-decoration:none;
}

nav a:hover{
    border-top:3px solid red;
}

.logo{
    padding: 0 3em;/*espace horizontal*/
    border:3px solid green;
	margin-right: auto;/*Prendre tout la place posible qui reste sur la page*/ 
}

.a-hebergement{
    border-top: #0065FC;
    font-weight: bold;
}

.a-hebergement:hover{
    border-top:3px solid red;/

}
.slogan{
    padding: 0,2rem;
}

/* bare de recherche*/ 



.barre-de-recherche {
    display:flex;
    padding:2px;
}

i.fa-solid.fa-location-dot {
    background-color: orange;
    padding: 2px;
    border-radius:3px;
    align-content: center;
}

input[type="Marseille"] {
    padding: 4px;
    font-weight: bold;
}
.btn-recherche{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-radius:  0px 15px 15px 0px;
    border: none;
}


.fa-money-bill{
    color:#0065FC ;
    background-color:white ;
    padding: 1px;
}



.fa-solid fa-person{
    color:#0065FC ;
    background-color:white ;
    padding: 1px;

}
.fa-solid.fa-person{
    color:#0065FC ;
    background-color:white ;
    padding: 1px;
}

.fa-solid.fa-heart{
    color:#0065FC ;
    background-color:white ;
    padding: 1px;
}
.fa-solid.fa-fire{
  color:#0065FC ;
    background-color:white ;
    padding: 1px;  
}



.filtres button{
    border-radius:18px;
    border: 1px solid #e3e3e3;
    font-weight: 500;
    padding: 5px 10px;
}



.information {
    border: solid;
    display: flex;
}

.fa-solid.fa-circle-info {
    color: #cb1313;
    align-content: center;
    padding: 9px;
}

/* bibliothèque d'appartements*/

.bibliothèquedappartement{
    display: flex;
    gap: 2rem;
}


.bibliothèquedappartement> div{
    border: solid 1px blue;
    background-color: #800080;
    padding: 10px;
    border-radius: 5px;
}

.ville{
    flex-basis: 60%;
}

.ville a{
    font-weight: bold;
    text-decoration: none;

}

.populaires{
    flex-basis: 30%;
}

.cartehébergementàmarseille{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 1rem;
    margin: 24px;


}

.cartehébergementàmarseille div{
    border: 1px solid red ;
    flex-basis: 33%;
    background-color: white;
    border-radius: 15px;
    padding: 0.5 rem(0, 0);
}

.Afficherplus{
 text-decoration:none;
}

.populaires{
    display:flex;
    flex-direction: column;
}

.populaires div{
   margin: 24px; 
}

.fa-star{
    color: blue;
}

.cartehébergementàmarseille img{
border-radius:30px 30px 0 0 ;
height:150px;
width: 100%;
margin-bottom: 5px;
}


.cartehébergementàmarseille h4 {
    padding: 10PX;
}


.populaires div{
    border:solid 25 px red ;
    flex-basis: 33%;
    background-color:white;
    border-radius: 15px;
    padding: 0.5 rem(0, 0);
    display: flex;


.populaires img{
border-radius:30px 30px 0 0 ;
height:200px;
width: 33%;
margin-bottom:5px;
align-content: center;
}

.populaires h4 {
    padding: 10PX;
}

img {
    height:200px;
    padding: 15px;

}

.activite{
    background-color: brown;
}

















 


